<h1>Datos de Usuario</h1>
<hr>
<div class="card" style="width: 18rem;">

    <ul class="list-group list-group-flush">
        <li class="list-group-item">User: {{{user.user}}}</li>
        <li class="list-group-item">Pass: {{{user.pass}}}</li>

    </ul>
    <div class="card-body">

        <a href="/" class="card-link">Inicio</a>
    </div>
</div>